<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
                      Id="1"
                      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2eJ4_mPTqwEQOHYdu1NbL8uEZap2Of5cPMg&usqp=CAU" 
                      cardTitle="Deseja ter algumas plantas ornamentais em sua Casa? Listamos algumas sugestões bem sucedidas"
                      cardDescription="Plantas ornamentais são fáceis os seus cuidados e que tem uma beleza que chama a atenção de qualquer pessoa. Separamos alguns tipos, confira!"
        >                      
        </app-big-card>
    </div>
    <div class="articles__others"> 
        <app-small-card
            Id="2"
            cardTitle="Zamioculca"
            photoCover="https://www.agromania.com.br/img/2018/01/blog/5246/zamioculca-agromania.jpg"
        >
        </app-small-card>
        <app-small-card
            Id="3"
            cardTitle="Onze horas"
            photoCover="https://www.agromania.com.br/img/2018/01/blog/5247/onze-horas-agromania.jpg"
        >
        </app-small-card>
        <app-small-card
            Id="4"
            cardTitle="Palmeira-Ráfia"
            photoCover="https://www.agromania.com.br/img/2018/01/blog/5243/palmeira-rafia-agromania.jpg"
        >
        </app-small-card>      
    </div>
    
</div>